html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #343a40;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #ffffff;
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
                display: block;
            }

                .sidebar ul li a:hover {
                    background: white;
                    padding-left: 10px;
                    transition: 0.3s;
                }

.content {
    margin-left: 250px;
    width: 100%;
}

 Reset CSS 
 Reset CSS 
