@model QLKT.Models.ViPhamQuyChe

<h2>Thêm Vi phạm</h2>

<form method="post">
    <label>Mã sinh viên:</label>
    <input type="text" name="MaSV" class="form-control" />

    <label>Loại vi phạm:</label>
    <input type="text" name="MaLoaiViPham" class="form-control" />

    <label>Nội dung:</label>
    <input type="text" name="NoiDungViPham" class="form-control" />

    <label>Ngày thi:</label>
    <input type="date" name="NgayThi" class="form-control" />

    <button type="submit" class="btn btn-success">Lưu</button>
</form>
