@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Import Dữ Liệu";
}

<h2>Import Dữ Liệu</h2>

<form method="post" enctype="multipart/form-data" action="/Import/ImportCSV">
    <div class="form-group">
        <label>Import lấy từ file CSV</label>
        <input type="file" name="file" accept=".csv" />
    </div>
    <button type="submit" class="btn btn-primary">Import CSV</button>
</form>

<form method="post" enctype="multipart/form-data" action="/Import/ImportExcel">
    <div class="form-group">
        <label>Import từ file Excel</label>
        <input type="file" name="file" accept=".xlsx" />
    </div>
    <button type="submit" class="btn btn-primary">Import Excel</button>
</form>
